<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LG전자 스마트 미러</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">
    <div class="logo"></div>
    <h1>Glow RE</h1>
    <video id="video" autoplay></video> <br>
    <button id="capture">사진 찍기</button>

    <!-- 사진 전송을 위한 폼 -->
    <form id="uploadForm"  >
        <input type="submit" value="분석하기">
    </form>

    <div id="display_image"></div>
</div>

<script src="js/main.js"></script>
</body>
</html>
